*{
    font-family: 'Poor Story', cursive;
  }

  .GALLERY2{
    font-size: 80px;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
  }
  .profile {
    position: absolute;
    width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding: 48px 0;
}

    .profile > div {
        float: left;
    }

.member_name {
    position: relative;
    width: 160px;
    margin-right: 40px;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-align: right;
}

    .member_name p {
        margin-bottom: 7px;
    }

        .member_name p:hover {
            letter-spacing: 0.25em;
            transition: 0.3s;
        }

        .member_name p a {
          font-family: 'Jua', sans-serif;
        }

.profile_img {
    position: relative;
    width: 530px;
    height: 675px;
}

.color_bg {
    background-color: #303298 !important;
    position: absolute;
    width: 450px;
    height: 590px;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.member_img {
    position: relative;
    width: 86%;
    margin: 0 auto;
    top: 40px;
    left: 0;
    box-shadow: 15px 15px 20px 0 #bdbcbc;
}

    .member_img img {
        width: 100%;
        object-fit: fill;
        vertical-align: bottom;
    }

.profile_txt {
    position: absolute;
    width: 275px;
    bottom: 50px;
    right: 0;
}

    .profile_txt div {
        position: relative;
        font-size: 12pt;
        font-weight: 400;
        margin-top: 10px;
    }

    .profile_txt .member_txt {
        position: relative;
        font-size: 25pt;
        font-family: 'Jua', sans-serif;
        font-weight: 100;
        letter-spacing: 0.05em;
        margin-bottom: 15px;
    }


.pf_inner {
    position: relative;
    width: 80%;
    height: auto;
}

  .wrap{
    position: relative;
    z-index : 1;
  }
  .wrap:after{
    top : 0;
    left: 0;
    position: absolute;
    background-position: center;
    background-size: cover;
    opacity: 0.7!important;
    filter: alpha(opacity=50);
    z-index: -1;
    content:"";
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
    
  }